{% extends "account/email/base_message.html" %}
{% block preheader %}Choose a new password for your ONE account.{% endblock preheader %}
{% block heading %}Reset your password{% endblock heading %}
{% block content %}
<p style="margin:0 0 16px;">Hi {{ user.username }},</p>
<p style="margin:0;">We received a request to reset the password for your ONE account. Click the button below to choose a new one.</p>
{% include "account/email/_action_button.html" with url=password_reset_url label="Reset password" %}
<p style="margin:0;font-size:13px;color:#6b7280;">If you didn't request a password reset, you can safely ignore this email. Your password won't change.</p>
{% endblock content %}
